.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.service {
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition );
    margin-top: 3rem;

}

.mobile-br {
    display: none;
}

.service:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.h2_heading{
    font-size: 36px;
    color: #ffff;
    font-weight: 100;
    margin-top: 1px;
    text-transform: uppercase;
}

.h5_heading{
    font-size: 36px;
    letter-spacing: 15px;
    font-weight: 100;
    color: var(--color-primary);
}

.service__head {
    background: var(--color-dark);
    padding: 2rem;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
}

.service__head h2 {
    color: #ffff;
    text-align: center;
    font-weight: 100;
    letter-spacing: 10px;
    text-transform: capitalize;
    font-size: 32px;
}

.service__head h4 {
    color: var(--color-bg);
    text-align: center;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 18px;
}

.service__list {
    padding: 2rem;
}

.service__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;

}
.services_p {
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 5px;
}

.service__list-icon {
    color: var(--color-white);
    margin-top: 2px;
    font-size: 2rem;
}

.service__list p {
    font-weight: 100;
    font-size: 1.1rem;
    letter-spacing: 3px;
}

/* ========MEDIA QUERIES (MEDIUM DEVICES) =========*/
@media screen and (max-width: 1180px) {
    .services__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .service {
        height: auto;
        margin-top: 1rem;
    }
}

    /* ========MEDIA QUERIES (SMALL DEVICES) =========*/
    @media screen and (max-width: 414px){
        .services__container {
            grid-template-columns: 1fr;
            gap: 1.5rem;
        }

        .h2_heading{
            letter-spacing: 5px;
        }

        .mobile-br{
            display: block;
        }
   
    }