.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin-top: 3rem;
}

.h5_heading{
    font-size: 36px;
    color: color-bg-variant;
    letter-spacing: 5px;
    font-weight: 100;
}

.h2_heading{
    font-size: 36px;
    letter-spacing: 15px;
    font-weight: 100;
    text-transform: uppercase;
}

.h3_heading{
    font-size: 24px;
    font-weight: 100;
}

.btn {
   margin: auto;
}


.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    margin-top: 3rem;

}

.portfolio__items:hover {
    border-color: var(--color-dark);
    background: transparent;
}

.btn:hover {
    background: #ffff;
}


.portfolio__item h3 {
    margin: 1.2rem 0 0.3rem;
    font-weight: 100;
    color: var(--color-white);
    letter-spacing: 3px;
    
}

.portfolio-p {
color: var(--color-light);
margin-bottom: 2rem;
display: flex;
justify-content: center;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 3px;
}

/* ========MEDIA QUERIES (MEDIUM DEVICES) =========*/
@media screen and (max-width: 1180px) {
 .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
 }
 .h2_heading {
    margin-bottom: 2rem;
 }

}

    /* ========MEDIA QUERIES (SMALL DEVICES) =========*/
    @media screen and (max-width: 425px) {
        .portfolio__container{
            grid-template-columns: 1fr;
            gap: 1rem;
        }

    }