.container.testimonials__container {
    width: 80%;
}

.h2_heading{
    font-size: 36px;
    color: #ffff;
    letter-spacing: 15px;
    font-weight: 100;
    text-transform: uppercase;
}

.h5_heading{
    font-size: 36px;
    letter-spacing: 15px;
    font-weight: 100;
    color: var(--color-primary);
    text-transform: uppercase;
}


.testimonial {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.testimonials {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-light);
}

/* ========MEDIA QUERIES (MEDIUM DEVICES) =========*/
@media screen and (max-width: 1024px) {
    .container.testimonials__container {
        width: 60%;
    }
    }
    
    /* ========MEDIA QUERIES (SMALL DEVICES) =========*/
    @media screen and (max-width: 600px){
        .container.testimonials__container {
            width: var(--container-width--sm);
        }
    
    }